* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
  font-family: lato, 'Gill Sans', 'Gill Sans MT', sans-serif;
}

.App {
  text-align: center;

  button {
    color: lightcoral;
  }

  .back-arrow {
    text-decoration: none;
  }

  .heading {
    text-decoration: none;
  }

  .worldmap {
    padding-block: 20%;
    padding-inline: 2%;
  }

  .grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    padding-inline: 2%;
    padding-block: 20%;
  }
}

/*
lato control font
gill sans (body, title, font)
dribbble version
-background : #4369b2;
rgb(236, 76, 138)
*/
